<div style="text-align:center">
  <body class="keepit100">
       
    <nav class="wim-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="https://usgs.gov">
                    <img alt="USGS logo" height="50px" src="./images/USGS-ID-white.png">
                    
                </a>
                <span class="nav-title">Great Lakes Groundwater Site Status (Proof of Concept)</span>
            </div>
        </div>
    </nav>
    <app-mainview-map></app-mainview-map>    
    
</body>
</div>
