// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:300,400,600,700');


// Variables
$black: #101010;
$white: #fff;
$bg: #F9FAFE;
$red: #F23D47;
$blue: #3E3BFB;
$primary: $blue;
$grey: #F8F7F8;
$text: fade-out($black, 0.1);
$subtle: fade-out($black, 0.5);

$borderColor: fade-out($black, 0.85);
$borderRadius: 4px;
$borderRadiusM: 8px;
$borderRadiusL: 16px;

// Fonts
$poppins: 'Poppins', sans-serif;
$sans: 'Open Sans', sans-serif;


$transition: 0.15s;
$borderRadius: 4px;

// Heights and measurements
$topBarHeight: 54px;


// Responsiveness
$fullMobile: 460px;