<i
  class="far"
  id="sidebarToggle"
  (click)="expandSidebar = !expandSidebar"
  [ngClass]="{ 'fa-bars': !expandSidebar, 'fa-times': expandSidebar }"
  ></i>

<div id="sidebar" [ngClass]="{ 'expanded': expandSidebar }">


  <!-- Scrolling sidebar content -->
  <div class="sidebar-scroll">


    <!--  Sidebar Basemaps  -->
    <div class="sidebar-header" (click)="showBasemaps = !showBasemaps" [ngClass]="{ expanded: showBasemaps }">
      <i class="fal fa-map"></i>
      <b><span>Basemaps</span></b>
    </div>

    <!-- Basemaps content -->
    <div class="sidebar-content" [ngClass]="{ expanded: showBasemaps }">
      <div id="sidebarBasemaps">
        <div class="basemap" id="basemap1" (click)="toggleLayer('OpenStreetMap')" [ngClass]="{ active: chosenBaseLayer == 'OpenStreetMap' }">Streets</div>
        <div class="basemap" id="basemap2" (click)="toggleLayer('Topo')" [ngClass]="{ active: chosenBaseLayer == 'Topo' }">Topographic</div>
        <div class="basemap" id="basemap3" (click)="toggleLayer('CartoDB')" [ngClass]="{ active: chosenBaseLayer == 'CartoDB' }">CartoDB</div>
        <div class="basemap" id="basemap4" (click)="toggleLayer('Terrain')" [ngClass]="{ active: chosenBaseLayer == 'Terrain' }">Terrain</div>
        <div class="basemap" id="basemap5" (click)="toggleLayer('Satellite')" [ngClass]="{ active: chosenBaseLayer == 'Satellite' }">Satellite</div>
        <div class="basemap" id="basemap5" (click)="toggleLayer('Gray')" [ngClass]="{ active: chosenBaseLayer == 'Gray' }">Gray</div>
        <div class="basemap" id="basemap6" (click)="toggleLayer('Nautical')" [ngClass]="{ active: chosenBaseLayer == 'Nautical' }">Nautical</div>
      </div>
    </div>


    <div class="sidebar-header" (click)="showSection2 = !showSection2" [ngClass]="{ expanded: showSection2 }">
      <i class="fal fa-filter"></i>
      <b><span>Data Filters</span></b>
    </div>

    <!-- Filters Parameter Content -->
    <div class="sidebar-content" [ngClass]="{ expanded: showSection2 }">

		Here it is!

    </div>
  
  </div>


</div>
<!-- End Sidebar -->

<!-- Sidebar lightbox for mobile -->
<div id="sidebarLightbox" [ngClass]="{ visible: expandSidebar }" (click)="expandSidebar = false"></div>